@import '../../styles/custom-properties.scss';

.card {
  margin: 1rem 0.5rem;
}

.image {
  width: 400px;
  margin: 0 calc(50% - 200px);
  border: 5px solid var(--linq-green);
  border-radius: 8px;
  @media screen and (max-width: $breakpoint-small) {
    width: 100%;
    margin: 0;
  }
}
