@import '../../styles/custom-properties.scss';
@import '../../styles/custom-media.scss';

.register {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
  padding: 3rem;
  background-color: var(--overlay-light);
}
.registerEsp,
.registerEng {
  display: flex;
  flex-direction: column;
}
.registerEng {
  display: none;
}
.translate {
  &:hover {
    cursor: pointer;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section {
  margin: 2rem;
}
.button {
  margin: 1rem;
}
.form {
  max-width: $breakpoint-small;
  background-color: var(--linq-green);
  padding: 1rem;
  margin: 1rem 5%;
  border-radius: 1rem;
  z-index: 2;
  @media screen and (min-width: $breakpoint-medium) {
    min-width: $breakpoint-small;
  }
}
.formGroup {
  text-align: left !important;
}
.label {
  margin-top: 1rem;
  text-align: left;
}
.regalitoBtn {
  display: none;
}
.donate,
.submit {
  margin: 0.5rem;
  &:hover {
    background-color: var(--linq-green);
    border: 1px solid var(--white);
    color: var(--white);
  }
}
