@import '../styles/custom-properties.scss';

.menu {
  border-bottom: 15px solid var(--linq-green);
}
.menu * {
  color: var(--normal-font-color);
}
.eng {
  color: inherit;
}
.active {
  color: var(--linq-green) !important;
}

@media screen and (max-width: $breakpoint-medium) {
  .eng {
    display: none;
  }
}
